<!DOCTYPE html>
<html lang="en">
<head>
  <title>add employee</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h2>employee Details</h2>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Postion</th>
      <th scope="col">FN</th>
      <th scope="col">LN</th>
      <th scope="col">P</th>
      <th scope="col">CP</th>
      <th scope="col">G1</th>
      <th scope="col">G2</th>
      <th scope="col">PN</th>
      <th scope="col">Ans</th>
    </tr>
  </thead>
  <tbody>


        <% for(var i=0; i < info.length; i++) { %>
            <tr>
                <td># <%= (i+1) %></td>
                <td><%= info[i].FN %></td>
                 <td><%= info[i].LN %></td>
				 <td><%= info[i].P %></td>
                 <td><%= info[i].CP %></td>
                 <td><%= info[i].G1 %></td>
                 <td><%= info[i].G2 %></td>
                 <td><%= info[i].PN %></td>
                 <td><%= info[i].Ans %></td>
            </tr>
        <% } %>


  </tbody>
</table>

  </div>
  <div class="col-md-4"></div>
</div>

<div class="container">
  
</div>

</body>
</html>
